.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
# AppImage staging copies made by `wails3 task linux:package`
build/linux/appimage/dbird
build/linux/appimage/dbird.png
*.syso
dev/data
